<%= form_tag('/movies', method: "get") do %>
  <div>
    <%= label_tag :title %><br>
    <%= text_field_tag :title %>
  </div>
  <div>
    <%= label_tag :director %><br>
    <%= text_field_tag :director %>
  </div>
  <div>
    <%= label_tag :runtime_in_minutes %><br>
    <%= select_tag :runtime_in_minutes, options_for_select([
      ["All", ""], 
      ["Under 1.5 hours", 1], 
      ["1.5 - 2 hours",   2], 
      ["Over 2 hours",    3]
    ]) %>
  </div>
  <div>
    <%= submit_tag "Search", name: 'search' %>
    <%= submit_tag "Clear", type: 'reset' %>
  </div>
<% end %>
